*.db
*.log
*.swp
.buildpath
.idea
.php_cs.cache
.php_cs
.php-cs-fixer.cache
.phpunit.cache
.phpunit.result.cache
.project
.settings
.stan-cache
/docs/api
/node_modules/*
/output/*
/vendor/*
composer.lock
package-lock.json
phpunit.xml