parameters:
    level: 6
    tmpDir: .stan-cache
    paths:
        - %currentWorkingDirectory%/lib

    reportUnmatchedIgnoredErrors: false
    ignoreErrors:

includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
