parameters:
    level: 8
    tmpDir: .stan-cache
    paths:
        - %currentWorkingDirectory%/lib
        - %currentWorkingDirectory%/test/phpstan

    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
      - identifier: missingType.generics

includes:
  - extension.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
