parameters:
    level: 8
    tmpDir: .stan-cache
    paths:
        - %currentWorkingDirectory%/lib
        - %currentWorkingDirectory%/test/phpstan

    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:

includes:
  - extensions.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
